.nft-card {
  position: relative;
  width: 100%;
  max-width: 300px;

  &:hover {
    .overlay {
      opacity: 1;
    }
  }

  .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    opacity: 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 7px;
  }
}
